{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
	<h1 class="d-flex justify-content-center">
		Create a new project</h1>

	<div class="container contact-form d-flex flex-column-reverse">

		<form method="POST">{{ form_start(form) }}
			<div class="m-4 mw-50 ">
				<div class="row gap-4">
					<div class="col-md-5">Title
						{{ form_widget(form.title) }}
					</div>
					<div class="col-md-5">Status
						{{ form_widget(form.status) }}
					</div>


				</div>
			</div>


		</form>
	</div>
	{{ form_end(form) }}
	<button class=" d-flex justify-content-center btn btn-light w-25  mt-5  ">{{ button_label|default('Ajouter') }}</button>


{% endblock %}
