{% extends "base.html.twig" %}

{% block body %}


	<section class="get-in-touch">
		<h1 class="title">Create new Project</h1>

		<form class="contact-form row" method="POST">
			{{ form_start(form) }}
			<div class="form-field col-lg-6">
				<input class="input-text js-input" type="text">
				<h2 class="label">
					Title
					{{ form_widget(project.title ) }}</h2>
			</div>
			<div class="form-field col-lg-6">

				<h2 class="label">Created On
					{{ form_widget(project.createdon ) }}</h2>
			</div>
			<div class="form-field col-lg-6 ">

				<h2 class="label">Status
					{{ form_widget(project.status ) }}</h2>
			</div>
			<div class="form-field col-lg-6 ">

				<h2 class="label">Deadline
					{{ form_widget(project.deadline ? project.deadline|date('Y-m-d') : '') }}
				</h2>
			</div>
			<div class="form-field col-lg-6 ">

				<h2 class="label">Agency
					{{ form_widget(project.agency ) }}
				</h2>
			</div>
			<div class="form-field col-lg-6 ">

				<h2 class="label">Project Type
					{{ form_widget(project.projecttype ) }}
				</h2>
			</div>

			<div class="form-field col-lg-6 ">

				<h2 class="label">
					work_space
					{{ form_widget(project.workspace ) }}</h2>
			</div>


			<div class="form-field col-lg-12">
				<button class="btn btn-dark w-25 mx-auto mt-5">{{ button_label|default('Ajouter') }}</button><br><br>

			</div>


			{{ form_end(form) }}

			{{ form_rest(form) }}</form>

	</section>


{% endblock %}
