{% extends "base.html.twig" %}

{% block body %}


	<section class="get-in-touch">
		<h1 class="title">Create new Project</h1>
		{{ form_start(form) }}

		<form class="contact-form row" method="POST">
			<div class="form-field col-lg-6">
				<input class="input-text js-input" type="text" name="nom">
				<label class="label" for="Nom">
					Title
					{{ form_widget(project.title ) }}</label>
			</div>
			<div class="form-field col-lg-6">

				<label class="label" for="Prénom">Created On</label>
			</div>
			<div class="form-field col-lg-6 ">

				<label class="label">Status
					{{ project.status }}</label>
			</div>
			<div class="form-field col-lg-6 ">
				<input class="input-text js-input">
				<label class="label">Deadline
					{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</label>
			</div>
			<div class="form-field col-lg-6 ">

				<label class="label">Agency
					{{ project.agency }}</label>
			</div>
			<div class="form-field col-lg-6 ">

				<label class="label">Project Type
					{{ project.projecttype }}</label>
			</div>

			<div class="form-field col-lg-6 ">
				<input class="input-text js-input" type="text">
				<label class="label">
					work_space{{ project.workspace }}</label>
			</div>


			<div class="form-field col-lg-12">
				<button class="btn btn-dark w-25 mx-auto mt-5">{{ button_label|default('Ajouter') }}</button><br><br>

			</div>
		</form>
		{{ form_rest(form) }}
	</section>

	{{ form_end(form) }}
{% endblock %}
