{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ project.createdOn ? project.createdOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ticket_index') }}">Voir les détails du projet</a><br>

    <a href="{{ path('app_project_index') }}">back to list</a><br>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a><br>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
